*
        {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .navigation {
            display: flex;
            align-items: center;
            justify-content: flex-start; 
            width: 100%;
        }

        nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: rgb(0, 0, 0);
            padding: 15px 20px;
        }

        nav a:hover{
            color: red;
        }

        nav li:last-child a{
            background-color: red;
            padding: 6px 12px;
            border-radius: 5px;
        }

        nav li:last-child a:hover{
            background-color: black;
            color: red;
        }

        ul
        {
            display: flex;
            list-style: none;
            align-items: center;
            justify-content: space-between;
            margin-left: auto;
            gap: 40px;
        }

        hr {
            border: 0;
            border-top: 3px solid #333; 
            width: 100%;
            margin: 0;
            background-color: #1e1d1d;
        }
        
        .temp{
            color: red;
            font-weight: bold;
            border-bottom: 2px solid red;
            padding-bottom: 4px;
        }
        
        .foot{
            display: inline;
            margin: 150px;
        }
        
        img {
            display: inline-block;
            margin-right: 50px; 
            width: 180px;
        }

        section
        {
            background-color: beige;
            height: 600px;
        }


        footer
        {
            background-color: aliceblue;
            height: 200px;
        }

        nav a
        {
            display: flex;
            align-items: center;
            gap: 5px;
            text-decoration: none;
            color: rgb(255, 255, 255);
        } 

        .tempdiv{
            height: 10px;
            background-color: black;
            
        }